<app-navbar></app-navbar>
<div class="container">
  <h1>Wishlist Items</h1><br>
</div>

<div class="container" *ngFor='let job of jobs' style="background:linear-gradient(90deg,rgb(35,60,185)0%,rgb(35 60 185)100%)">
  <div class="card mt-3">
    <div class="card-header bg-primary text-white" >
      <h5>{{ job.name }}</h5>
    </div>
    <div class="card-body bg-secondary text-white">
      <p>Role-{{ job.role}}</p>
      <p>Location-{{job.location}}</p>
      <p>Company Name-{{job.company}}</p>
      <p>JobId-{{job.id}}</p>

   
  <div class="container d-flex flex-row justify-content-between ">
    <a href="{{job.landing_page}}" target="_blank" class="btn btn-primary" role="button" aria-pressed="true">Apply</a>
    <button type="button" class="btn btn-primary"  (click)="removeFromWishlist(job)"> remove from Wishlist</button>
    
  </div>
</div>

